{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
    	{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}{{ block('asterisk') }}</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}


{% block asterisk %}
{% spaceless %}
{% if required %}
	<span class="text-error" data-placement="right" data-toggle="tooltip" title="{{ "fields.requis"|trans({}, 'WSFormBundle') }}">
		<strong> *</strong>
	</span>
{% endif %}
{% endspaceless %}
{% endblock asterisk %}


{% block ws_collection_label %}
{% spaceless %}
    <div class="control-group">
    	<div class="controls">
            <button type="button" id="add-{{ id }}" class="btn btn-success btn-mini"><i class="icon-plus icon-white"></i> {{ label|trans({}, translation_domain) }}</button>
            {{ ws_modal('modal_suppr_', id, "", 1, translation_modal, translation_domain, {'%entity%': label, '%object%': '__object__'}) }}
        </div>
    </div>
{% endspaceless %}
{% endblock ws_collection_label %}


{% block ws_collection_row %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {{ form_label(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
{% endspaceless %}
{% endblock ws_collection_row %}

{% block ws_collection_item_label %}
{% spaceless %}
    <legend>
        {{ label|trans({}, translation_domain) }}
        <span id="order-{{ id }}"> {{ name }} </span>
        <button type="button" id="suppr-{{ id }}" class="btn btn-danger btn-mini">
            <i class="icon-remove icon-white"></i>
        </button>
    </legend>
{% endspaceless %}
{% endblock ws_collection_item_label %}

{% block ws_collection_item_row %}
{% spaceless %}
	<div id="block-{{ id }}">
		{{ form_label(form) }}
		<div class="formContent">
            {{ form_widget(form) }}
        </div>
        {% if name is not numeric %}
            {{ form_javascript(form) }}
        {% else %}
            {{ ws_add_js(form_javascript(form)) }}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock ws_collection_item_row %}

{% block ws_entity_add_row %}
{% spaceless %}
<div class="control-group">
    {{ form_label(form) }}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <div class="controls">
        {{ form_widget(form) }}
        
        <span class="help-inline">
        	<a href="#" class="btn btn-success btn-mini" data-toggle="modal"
						data-target="#add-{{ id }}"><i class="icon-plus icon-white"></i> {{ label|trans({}, translation_domain) }}</a>
			{{ ws_modal_iframe("add-", id, path(iframe_path, iframe_path_vars)) }}
        </span>
        
        {{ form_errors(form) }}
    </div>
</div>
{% endspaceless %}
{% endblock ws_entity_add_row %}